<div>
	<h1>Upload CSV</h1>
	<p>
		<file-upload (uploaded)="uploaded($event)"></file-upload>
  </p>
	<span *ngIf="uploadedCount > 0">Uploaded files: {{uploadedCount}}</span>
  </div>
  <br />
  <br/>

	<div class="row">
		<div class="col-md-12">
			<form class="form-inline" *ngIf="filesData && filesData.length > 0">
				<div class="form-group">
					<label for="email">Uploaded Files: </label>
						<select class="form-control" #files (click)="onFileChange(files.value)">
						<option button *ngFor="let fd of filesData;let i = index" value="{{i}}">{{fd.name}}</option>
					</select>

					<!--Button to be added for use fix later <button (click)="onFileChange(files.value)" value="Submit
					"></button> -->
					</div>	
			</form>
			<h3 *ngIf="!filesData || filesData.length < 1"></h3>
		</div>
	</div>
	
	<div class="row data-container" *ngIf="filesData && filesData.length > 0">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th *ngFor="let h of selected.headers">{{h}}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let d of selected.data">
							<td *ngFor="let h of selected.headers">{{d[h]}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>